<template>
    <b-form @submit.prevent="submit">
      
      <div class="row" style="padding-bottom: 20px;">
           <input type="hidden" name="id"  class="form-control" :value="datos.id">
           <div class="col-md-6" >
              <div class="form-group">
                <label class="control-label">{{ $t('documento') }}</label>                  
                  <b-form-input
                  id="documento"     
                  v-model="datos.documento"     
                  class="mb-2 mr-sm-2 mb-sm-0"
                  type="text"
                  required
                ></b-form-input>
              </div>
           </div>    

           <div class="col-md-6" >
              <div class="form-group">
                <label class="control-label">{{ $t('celular') }}</label>                  
                  <b-form-input
                  id="celular"     
                  v-model="datos.celular"     
                  class="mb-2 mr-sm-2 mb-sm-0"
                  type="text"
                  required
                ></b-form-input>
              </div>
           </div>                 
      </div>

      


        <b-btn class="my-3" type="submit">Consultar</b-btn>
    </b-form>
</template>

<script>
  import {mapMutations, mapState} from 'vuex';
  import axios from 'axios';
  import env from '../../config/env'
  import { validationMixin } from "vuelidate";
  import { required, minLength } from "vuelidate/lib/validators";

  export default {
    name: "consultasaldoform",
    computed: {
      ...mapState({
        data: state => {
          return state.billetera.datos
        }
      })
    },
    data() {
      return {
        datos:[]
      }
    },
    props: {
      id: {
        type: String,
        required: false
      }
    },
    created() {
        this.datos = {"documento":this.documento}
      
      
    },
    methods: {
      ...mapMutations({mergebilletera: 'billetera/mergebilletera'}),
      isUpdate() {   
        return this.datos.hasOwnProperty('id')
      },
      submit() {
       
        let vm = this;
        let action = 'billetera/consultarsaldoBilletera';
        this.id=0;

        this.$store.dispatch(action, this.datos).then((data) => alert(data.data.description))
      }
    }
  }

</script>