<template>
    <div>
        <b-button @click.prevent="changeLang()">{{$t('home.lang')}}</b-button>  

        <b-dropdown id="dropdown-left" variant="primary" class="m-2">
            <b-dropdown-item @click.prevent="changeLang('en')" id="en">English</b-dropdown-item>
            <b-dropdown-item id="es"  @click.prevent="changeLang('es')">Español</b-dropdown-item>
        </b-dropdown>
    </div>
</template>
<script>
export default {
    data (){
      return {
      }
    },
    methods: {
        changeLang (lang) {
          //mutate 'locale' in store
          this.$store.commit('SET_LANG', lang)
          //re-route to the current page but with the selected language in a query string
          this.$router.push({ path: `${this.$router.currentRoute.path}?lang=${lang}` })
        }
    }
}
</script>