<template>
    <b-form @submit.prevent="submit">
      
      <div class="row" style="padding-bottom: 20px;">
           <input type="hidden" name="id"  class="form-control" :value="datos.id">
           <div class="col-md-6" >
              <div class="form-group">
                <label class="control-label">{{ $t('documento') }}</label>                  
                  <b-form-input
                  id="documento"     
                  v-model="datos.documento"     
                  class="mb-2 mr-sm-2 mb-sm-0"
                  type="text"
                  required
                ></b-form-input>
              </div>
           </div>
           <div class="col-md-6" >
              <div class="form-group">
                <label class="control-label">{{ $t('nombre') }}</label>                  
                  <b-form-input
                  id="nombre"     
                  v-model="datos.nombre"     
                  class="mb-2 mr-sm-2 mb-sm-0"
                  type="text"
                  required
                ></b-form-input>
              </div>
           </div>           
      </div>

      <div class="row" style="padding-bottom: 20px;">
           <div class="col-md-6" >
              <div class="form-group">
                <label class="control-label">{{ $t('email') }}</label>                  
                  <b-form-input
                  id="email"     
                  v-model="datos.email"     
                  class="mb-2 mr-sm-2 mb-sm-0"
                  type="email"
                  required
                ></b-form-input>
              </div>
           </div>
           <div class="col-md-6" >
              <div class="form-group">
                <label class="control-label">{{ $t('celular') }}</label>                  
                  <b-form-input
                  id="celular"     
                  v-model="datos.celular"     
                  class="mb-2 mr-sm-2 mb-sm-0"
                  type="text"
                  required
                ></b-form-input>
              </div>
           </div>           
      </div>



        <b-btn class="my-3" type="submit">{{isUpdate() ? $t('update') : $t('save')}}</b-btn>
    </b-form>
</template>

<script>
  import {mapMutations, mapState} from 'vuex';
  import axios from 'axios';
  import env from '../../config/env'
  import { validationMixin } from "vuelidate";
  import { required, minLength } from "vuelidate/lib/validators";

  export default {
    name: "ClienteForm",
    computed: {
      ...mapState({
        data: state => {
          return state.cliente.datos
        }
      })
    },
    data() {
      return {
        datos:[]
      }
    },
    props: {
      id: {
        type: String,
        required: false
      }
    },
    created() {
      
      if(this.id != 0){
        axios.get(`${env.endpoint}/buscarinfooclienteedit/` + this.id).then(response=>{
              this.datos = response.data[0]; 
              this.selected = this.datos.id;
          })
        
      }
      else{
        this.datos = {"documento":this.documento}
      }
      
      

    },
    methods: {
      ...mapMutations({mergeCliente: 'cliente/mergeCliente'}),
      isUpdate() {   
        return this.datos.hasOwnProperty('id')
      },
      submit() {
       
        let vm = this;
        let action = 'cliente/' + (this.isUpdate() ? 'update' : 'create');
        this.$bvModal.hide("editmodal");
        this.$bvModal.hide("newmodal");
        this.id=0;

        this.$store.dispatch(action, this.datos).then(() => this.$store.dispatch('cliente/get'))
      }
    }
  }

</script>