<template>
    <div class="container">
     <br />
     <div align="right">
      <b-button variant="info" @click="showNew('26')">
              {{$t('Nuevo')}}
      </b-button>
      </div>
      

      <div class="row" style="padding-bottom: 20px;">
          <b-table striped hover :items="datos" :fields="fields" border="1">
          
          </b-table>
      </div>

    <b-modal  ref="confirmDestroy" :title="$t('destroy_confirm_title')" @ok="destroy">
                {{$t('destroy_confirm')}}
    </b-modal> 

    <b-modal ok-only ok-title="Cerrar" id = "editmodal" ref="editmodal" :title="$t('edit')" data-dismiss="modal">
                <cliente-form :id="id" ></cliente-form>
    </b-modal>

    <b-modal ok-only ok-title="Cerrar" id = "newmodal" ref="newmodal" :title="$t('nuevo')">
                <cliente-form :id="id" ></cliente-form>
    </b-modal>  
  </div>
</template>
<script>
  //import axios from 'axios';
  import env from '../../config/env'
  import {mapState} from 'vuex';

  export default {
    name:'infocliente',    
    computed: {
      ...mapState({
        datos: state => {
          return state.cliente.datos
        }
      })
    },
    data() {
      return {
        id:"",
        modal: false,
        show: false,
        fields: [
            {
            key: 'id',
            label: this.$t('id'),
            sortable: true
          },
          {
            key: 'nombre',
            label: this.$t('nombre'),
            sortable: true
          },
          {
            key: 'documento',
            label: this.$t('documento'),
            sortable: true
          },
          {
            key: 'celular',
            label: this.$t('celular'),
            sortable: true,
          },
          {
            key: 'email',
            label: this.$t('email'),
            sortable: true
          }
        ],
      }
    },
    created() {
        this.$store.dispatch('cliente/get')
    },
    methods: {
      showEdit(id) {
        this.id = id.toString();
        this.$refs['editmodal'].show()
      },
      showDelete(id) {
        this.id = id;

        this.$refs['confirmDestroy'].show()
      },
      showNew(id) {
        this.id = "0";
        this.$refs['newmodal'].show()
      },
      onSubmit(evt) {
        evt.preventDefault()
        alert(JSON.stringify(this.datos))
      },
      destroy() {
          this.$store.dispatch('cliente/delete', {id: this.id}).then(() => this.$store.dispatch('cliente/get'))
      }
    }
  }
</script>