<template>
  <div style="background-color:#ffffff;">
    <b-button v-b-toggle.sidebar-no-header>Menú</b-button>
    <div align="center" style="background-color:#fffff;"><b-img src="../img/billetera.png" fluid alt="Responsive image"></b-img></div>
    <b-sidebar  id="sidebar-no-header" aria-labelledby="sidebar-no-header-title" no-header shadow>
      <template #default="{ hide }">
        <div class="p-3" style="background-color:#ffffff;">
          <h4 id="sidebar-no-header-title">Menú {{ $t('billetera') }}</h4>
          <p>
            
          </p>
          
          <nav class="mb-3">
            <b-nav vertical>
              <b-nav-item href="cliente" @click="hide">Clientes</b-nav-item>
              <b-nav-item href="billetera" @click="hide">Recargar billetera</b-nav-item>
              <b-nav-item href="consultasaldobilletera" @click="hide">Consultar saldo billetera</b-nav-item>
            </b-nav>
          </nav>
          <b-button variant="primary" block @click="hide">Cerrar Menú</b-button>
        </div>
      </template>
    </b-sidebar>    
    <!-- Contenido del menú, al nivel del navbar-brand-->
    <Nuxt />
  </div>

  
</template>

<style>
html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
