<template>
 <div>
   <b-card no-body>
    <b-tabs card>
      <b-tab title="Billetera" active>
        <b-card-text><recargaform /></b-card-text>
      </b-tab>
    </b-tabs>
  </b-card>
  </div>
</template>
<script>
import axios from 'axios';
import env from '../config/env'
import recargaform from '../components/billetera/recargaform.vue';
export default {
  components: { recargaform },
    name: 'billetera'
}
</script>