<template>
 <div>
   <b-card no-body>
    <b-tabs card>
      <b-tab title="Clientes" active>
        <b-card-text><infocliente /></b-card-text>
      </b-tab>
    </b-tabs>
  </b-card>
  </div>
</template>
<script>
import axios from 'axios';
import env from '../config/env'
import infocliente from '../components/clientes/infocliente.vue';
export default {
  components: { infocliente },
    name: 'Cliente'
}
</script>