<template>
 <div>
   <b-card no-body>
    <b-tabs card>
      <b-tab title="Consultar Saldo" active>
        <b-card-text><consultasaldoform /></b-card-text>
      </b-tab>
    </b-tabs>
  </b-card>
  </div>
</template>
<script>
import axios from 'axios';
import env from '../config/env'
import consultasaldoform from '../components/billetera/consultasaldoform.vue';
export default {
  components: { consultasaldoform },
    name: 'consultarsaldobilletera'
}
</script>